connector-component {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-400);
  opacity: 0;
  visibility: hidden;
  transition: all 80ms var(--ease-in-out);
  cursor: crosshair;
  z-index: 10;
}