cursor-component {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.6;
  display: inline-block;
}
cursor-component:hover {
  opacity: 1;
}
cursor-component:hover span {
  opacity: 1;
  visibility: visible;
}
cursor-component svg {
  width: 18px;
  height: 18px;
  color: var(--grey-900);
}
cursor-component span {
  font-size: 10px;
  white-space: nowrap;
  color: var(--white);
  padding: 0 0.25rem;
  border-radius: 0.125rem;
  height: 14px;
  line-height: 14px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
  background-color: var(--black);
}