# General
node_modules

# Server
.env
server/sessions
server/diagrams

# Logs
/server/404.log

# Source files
src/lib
src/framework

# Public
public/js
public/css
public/audio
public/service-worker-assets.js
