column-component{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 36px;
    padding: 0 0.5rem 0 0.5rem;
    transition: background-color 80ms var(--ease-in-out), color 80ms var(--ease-in-out);
    color: var(--grey-700);
    overflow: visible;

    // &:not(:last-of-type){
    //     border-bottom: 1px solid var(--grey-300);
    // }

    &:last-of-type{
        border-radius: 0 0 0.25rem 0.25rem;
    }

    &:hover{
        background-color: var(--grey-50);
        
        *{
            color: var(--primary-500);
        }

        connector-component{
            opacity: 1;
            visibility: visible;
        }
    }

    &:focus-within{
        background-color: var(--grey-100);
        
        *{
            color: var(--primary-500);
        }

        connector-component{
            opacity: 1;
            visibility: visible;
        }
    }

    &.is-disabled{
        background-color: var(--grey-50);
        user-select: none;

        *{
            color: var(--grey-300);
            box-shadow: none !important;
        }
    }

    @media (prefers-color-scheme: dark){
        &:hover{
            background-color: var(--grey-700);

            *{
                color: var(--primary-400);
            }
        }

        &:focus-within{
            background-color: var(--grey-800);

            *{
                color: var(--primary-400);
            }
        }

        &.is-disabled{
            background-color: var(--grey-900);
        }
    }

    input {
        width: 100%;
        flex: 1;
        height: 24px;
        line-height: 1;
        border-radius: 0.25rem;
        padding: 0 0.25rem;
        transition: all 80ms var(--ease-in-out);
        background: transparent;
        text-overflow: ellipsis;

        &:focus{
            box-shadow: var(--focus-ring);
        }

        @media (prefers-color-scheme: dark){
            color: var(--grey-300);
        }
    }

    select{
        height: 24px;
        appearance: none;
        background-color: transparent;
        padding: 0 0.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: var(--font-base);
        transition: all 80ms var(--ease-in-out);
        color: var(--grey-500);
        text-align: right;
        text-align-last: right;

        &:focus{
            color: var(--primary-500);
            outline: solid 4px var(--primary-400);
            outline-offset: 6px;
            transition: outline-offset 80ms var(--ease-out);
        }
    }

    i{
        width: 28px;
        height: 28px;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all 80ms var(--ease-in-out);
        color: var(--grey-500);

        @media (prefers-color-scheme: dark){
            color: var(--grey-300);
        }

        svg{
            width: 14px;
            height: 14px;
            display: inline-block;
            position: absolute;
        }
    }
}
