editor-page{
    display: grid;
    grid-template-rows: 64px 1fr;
    gap: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--grey-50);

    .anchor {
        position: absolute;
        width: 0px;
        height: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
