html{
    font-size: 100%;
}

body{
    font-family:  'Motiva Sans', 'Open Sans', Roboto, Oxygen, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: var(--grey-100);
    display: block;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    @media (prefers-color-scheme: dark){
        background-color: var(--grey-900);
    }
}

button{
    padding: 0;
    text-align: left;
}

.link{
    color: var(--primary-700);
    transition: color 80ms var(--ease-in-out);
    border-radius: 0.125rem;
    text-decoration: none;

    &:hover{
        color: var(--primary-600);
        text-decoration: underline;  
    }

    &:active{
        color: var(--primary-700);
        text-decoration: underline;
    }

    &:focus-visible{
        color: var(--primary-600);
        text-decoration: none;
        box-shadow: var(--focus-ring);
    }
}

*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://divinedrop.nyc3.cdn.digitaloceanspaces.com/fonts/MotivaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Motiva Sans';
    src: url('https://divinedrop.nyc3.cdn.digitaloceanspaces.com/fonts/MotivaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Motiva Sans';
    src: url('https://divinedrop.nyc3.cdn.digitaloceanspaces.com/fonts/MotivaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Motiva Sans';
    src: url('https://divinedrop.nyc3.cdn.digitaloceanspaces.com/fonts/MotivaSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Motiva Sans';
    src: url('https://divinedrop.nyc3.cdn.digitaloceanspaces.com/fonts/MotivaSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Motiva Sans';
    src: url('https://divinedrop.nyc3.cdn.digitaloceanspaces.com/fonts/MotivaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Motiva Sans';
    src: url('https://divinedrop.nyc3.cdn.digitaloceanspaces.com/fonts/MotivaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
