html{
    font-size: 100%;
}

body{
    font-family:  Rubik, 'Open Sans', Roboto, Oxygen, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: var(--grey-100);
    display: block;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

button{
    padding: 0;
    text-align: left;
}

.link{
    color: var(--primary-700);
    transition: color 80ms var(--ease-in-out);
    border-radius: 0.125rem;
    text-decoration: none;

    &:hover{
        color: var(--primary-600);
        text-decoration: underline;  
    }

    &:active{
        color: var(--primary-700);
        text-decoration: underline;
    }

    &:focus-visible{
        color: var(--primary-600);
        text-decoration: none;
        box-shadow: var(--focus-ring);
    }
}

*{
    box-sizing: border-box;
}