context-menu{
    position: absolute;
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    background-color: var(--white);
    box-shadow: var(--shadow-lg);
    display: flex;
    flex-flow: column wrap;
    border: 1px solid var(--grey-300);
    z-index: 9999;
}