canvas-component{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &[cursor="hand"]{
        cursor: grab;
    }

    &[cursor="grabbing"]{
        cursor: grabbing;
    }

    &[cursor="zoom"]{
        cursor: zoom-in;
    }

    .diagram{
        position: relative;
        width: 0;
        height: 0;
        display: inline-block;
        overflow: visible;
    }

    canvas{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.hit{
            // visibility: hidden;
            // opacity: 0;
        }
    }
}
