help-modal{
    display: block;
    width: 100%;
    padding: 2rem;

    .sections {
        display: grid;
        width: 100%;
        position: relative;
        grid-template-columns: minmax(0px, 1fr);
        gap: 2rem;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        .section {
            display: block;
            width: 100%;
            position: relative;

            h4 {
                display: block;
                width: 100%;
                padding-left: 0.25rem;
                margin-bottom: 1rem;
                font-weight: var(--font-medium);
                color: var(--grey-700);

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-100);
                }
            }

            .hotkeys {
                display: block;
                width: 100%;
                border-radius: 0.5rem;
                border: 1px solid var(--grey-300);

                @media (prefers-color-scheme: dark) {
                    border-color: var(--grey-700);
                }

                .hotkey {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;
                    border-bottom: 1px solid var(--grey-300);

                    &:last-child {
                        border-bottom: none;
                    }

                    @media (prefers-color-scheme: dark) {
                        border-color: var(--grey-700);
                    }

                    h5 {
                        display: block;
                        color: var(--grey-600);
                        font-size: var(--font-sm);

                        @media (prefers-color-scheme: dark) {
                            color: var(--grey-300);
                        }
                    }

                    code {
                        display: block;
                        color: var(--grey-500);
                        font-size: var(--font-xs);
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.25rem;
                        background-color: var(--grey-100);
                        margin-left: 0.5rem;

                        @media (prefers-color-scheme: dark) {
                            color: var(--grey-300);
                            background-color: var(--grey-700);
                        }
                    }
                }
            }
        }
    }
}
